<article class="post">
    <div class="title">
        <a href="/edit/{{id}}" target="_blank">{{title}}</a>
        <span>{{post_contents}}</span>
    </div>
    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>